html, body {
  overflow-x: hidden;
}

.container {
  position: relative;
  max-width: 1120px;
  margin: auto;
}

@media (max-width: 1170px) {
  .container {
    max-width: 865px;
  }
}
@media (max-width: 991px) {
  .container {
    max-width: 310px;
  }
}
@font-face {
  font-family: "DM Sans";
  src: local("DM Sans Bold"), local("DM-Sans-Bold"), url("../fonts/DMSans-Bold.woff2") format("woff2"), url("../fonts/DMSans-Bold.woff") format("woff"), url("../fonts/DMSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Poppins Regular";
  src: url("../fonts/Poppins-Regular.eot");
  src: url("../fonts/Poppins-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins Medium";
  src: url("../fonts/Poppins-Medium.eot");
  src: url("../fonts/Poppins-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Medium.woff") format("woff"), url("../fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Poppins Semibold";
  src: url("../fonts/Poppins-SemiBold.eot");
  src: url("../fonts/Poppins-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-SemiBold.woff") format("woff"), url("../fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Poppins Bold";
  src: url("../fonts/Poppins-Bold.eot");
  src: url("../fonts/Poppins-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Bold.woff") format("woff"), url("../fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: "Poppins Medium", sans-serif;
  color: rgb(35, 38, 47);
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  text-decoration: none;
}

.button {
  padding: 12px 16px;
  color: rgb(252, 252, 253);
  cursor: pointer;
  font-family: "DM Sans", sans-serif;
  font-size: 15px;
  line-height: 16px;
  background: #3772ff;
  border: none;
  border-radius: 90px;
}

.button-o {
  padding: 12px 16px;
  cursor: pointer;
  font-family: "DM Sans", sans-serif;
  font-size: 15px;
  line-height: 16px;
  background: none;
  border: 2px solid rgb(230, 232, 236);
  border-radius: 90px;
}

.profile-pic {
  border-radius: 48px;
}

.bid {
  padding: 6px;
  color: rgb(69, 178, 107);
  font-family: "Poppins Bold", sans-serif;
  font-size: 12px;
  line-height: 12px;
  border: 2px solid #45b36b;
  border-radius: 4px;
}

.line {
  height: 1px;
  width: 100%;
  background: rgb(230, 232, 236);
}

.inputWithButton {
  display: flex;
  flex-direction: row;
  padding: 3px;
  border: 1px solid rgb(230, 232, 236);
  border-radius: 50px;
}
.inputWithButton:focus-within {
  outline: 1px solid blue;
}
.inputWithButton input {
  font-family: "Poppins Regular", sans-serif;
  flex-grow: 2;
  padding: 3px;
  border: none;
  font-size: 14px;
}
.inputWithButton input:focus {
  outline: none;
}
.inputWithButton button {
  border: 1px solid #3772FF;
  border-radius: 50px;
  background: #3772FF;
  color: white;
}

.navbar {
  border-bottom: 1px solid rgb(230, 232, 236);
}
.navbar-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
}
.navbar-wrap__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 330px;
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
}
.navbar-wrap__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 570px;
}
.navbar__line {
  height: 40px;
  width: 2px;
  border-radius: 2px;
  background: rgb(230, 232, 236);
}
.navbar__item {
  color: rgb(119, 126, 144);
}
.navbar__item_active {
  color: rgb(35, 38, 47);
}
.navbar__search {
  padding-left: 15px;
  padding-right: 32px;
  min-height: 40px;
  min-width: 205px;
  font-family: "Poppins Regular", sans-serif;
  font-size: 12px;
  color: rgb(119, 126, 144);
  border: 2px solid rgb(230, 232, 236);
  border-radius: 8px;
  background-image: url("../../img/search.svg");
  background-repeat: no-repeat;
  background-position: 95% 50%;
}
.navbar__search:focus {
  color: rgb(35, 38, 47);
}
.navbar__notifications {
  margin: 0 15px;
  display: flex;
  position: relative;
  align-items: center;
}
.navbar__notifications:before {
  content: "";
  position: absolute;
  right: -50%;
  top: -50%;
  height: 12px;
  width: 12px;
  background: #45B36B;
  border-radius: 8px;
}

.logo {
  display: flex;
  align-items: space-between;
  min-width: 125px;
}
.logo__img {
  padding-right: 8px;
  width: 32px;
  height: 32px;
}
.logo__text {
  font-family: "Poppins Semibold", sans-serif;
  font-size: 24px;
}

@media (max-width: 1170px) {
  .navbar__item, .navbar__line, .navbar__item_active {
    display: none;
  }
}
@media (max-width: 991px) {
  .navbar {
    border: none;
  }
  .navbar-wrap__right {
    display: none;
  }
}
.hero {
  padding-top: 125px;
}
.hero-wrap {
  display: block;
  text-align: center;
}
.hero__text {
  margin-bottom: 5px;
  color: rgb(119, 126, 144);
  text-transform: uppercase;
  font-family: "Poppins Bold", sans-serif;
  font-size: 12px;
  line-height: 12px;
}
.hero__title {
  margin-bottom: 20px;
  font-family: "DM Sans", sans-serif;
  font-size: 40px;
  line-height: 48px;
}
.hero__button {
  margin-top: auto;
}

@media (max-width: 1170px) {
  .hero {
    padding-top: 112px;
  }
}
@media (max-width: 991px) {
  .hero {
    padding-top: 64px;
  }
  .hero__title {
    font-size: 32px;
    line-height: 40px;
  }
}
.auction {
  padding-top: 128px;
  padding-bottom: 135px;
}
.auction-wrap {
  display: flex;
  justify-content: space-between;
}
.auction__video {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 16px;
}

.auctionpanel {
  display: block;
  max-width: 350px;
}
.auctionpanel__title {
  margin-bottom: 20px;
  font-family: "DM Sans", sans-serif;
  font-size: 64px;
  line-height: 64px;
  letter-spacing: -0.02em;
}
.auctionpanel__about {
  display: flex;
}
.auctionpanel__block {
  display: flex;
}
.auctionpanel__block:not(:first-child) {
  margin-left: 65px;
}
.auctionpanel__img {
  margin-right: 8px;
}
.auctionpanel__seller {
  display: flex;
  flex-direction: column;
}
.auctionpanel__span {
  font-family: "Poppins Regular", sans-serif;
  color: rgb(119, 126, 144);
  font-size: 12px;
  line-height: 20px;
}
.auctionpanel__text {
  font-family: "Poppins Medium", sans-serif;
  font-size: 14px;
  line-height: 24px;
}
.auctionpanel__info {
  display: flex;
  flex-direction: column;
  margin: 40px 0;
  padding: 35px 60px;
  text-align: center;
  border: 2px solid #E6E8EC;
  box-shadow: 0px 64px 64px -48px rgba(31, 47, 70, 0.12);
  border-radius: 24px;
}
.auctionpanel__bidtitle {
  font-family: "Poppins Medium", sans-serif;
  font-size: 16px;
  line-height: 24px;
}
.auctionpanel__bid {
  font-family: "DM Sans", sans-serif;
  font-size: 48px;
  line-height: 56px;
}
.auctionpanel__dollar {
  margin-bottom: 20px;
  font-family: "Poppins Semibold", sans-serif;
  font-size: 24px;
  line-height: 32px;
  color: rgb(119, 126, 144);
}
.auctionpanel__end {
  font-family: "Poppins Medium", sans-serif;
  font-size: 16px;
  line-height: 24px;
}
.auctionpanel__buttons {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}
.auctionpanel__buttons_first {
  margin-bottom: 8px;
}
.auctionpanel__navigation {
  display: grid;
  grid-template-columns: repeat(2, 40px);
  gap: 5px;
}

.timer {
  display: flex;
  justify-content: space-around;
}
.timer__time {
  display: flex;
  flex-direction: column;
}
.timer__value {
  font-family: "DM Sans", sans-serif;
  font-size: 32px;
  line-height: 40px;
}
.timer__text {
  font-family: "Poppins Medium", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: rgb(119, 126, 144);
}

.navigation__button {
  width: 40px;
  height: 40px;
  display: block;
  background: none;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
.navigation__button-active {
  width: 40px;
  height: 40px;
  display: block;
  background: none;
  border-radius: 50%;
  border: none;
  border: 2px solid rgb(230, 232, 236);
  cursor: pointer;
}
.navigation__arrow {
  display: block;
  margin: auto;
}

@media (max-width: 1170px) {
  .auction {
    padding: 112px 0px;
  }
  .auction__video {
    max-width: 528px;
  }
  .auctionpanel {
    max-width: 300px;
  }
  .auctionpanel__block:not(:first-child) {
    margin-left: 40px;
  }
}
@media (max-width: 991px) {
  .auction {
    padding: 64px 0px;
  }
  .auction-wrap {
    display: block;
    text-align: center;
  }
  .auction__video {
    margin-bottom: 30px;
    max-width: 311px;
  }
  .auctionpanel {
    margin: auto;
  }
  .auctionpanel__navigation {
    justify-content: center;
  }
}
.feed {
  padding-bottom: 128px;
}
.feed-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.feed__column-1 {
  display: block;
  max-width: 448px;
}
.feed__column-1-img {
  margin-bottom: 22px;
  border-radius: 12px;
}
.feed__column-1-info {
  display: flex;
}
.feed__column-1-profile {
  margin-right: 15px;
  width: 48px;
  height: 48px;
}
.feed__column-1-about {
  display: flex;
  flex-direction: column;
}
.feed__column-1-title {
  font-family: "Poppins Semibold", sans-serif;
  font-size: 24px;
  line-height: 32px;
  color: rgb(35, 38, 47);
}
.feed__column-1-stock {
  font-family: "Poppins Medium", sans-serif;
  font-size: 14px;
  line-height: 24px;
}
.feed__column-1-price {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}
.feed__column-1-text {
  font-family: "Poppins Regular", sans-serif;
  color: rgb(119, 126, 144);
  font-size: 12px;
  line-height: 20px;
}
.feed__column-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 350px;
}
.feed__item {
  display: flex;
  align-items: flex-start;
}
.feed__item-img {
  margin-right: 24px;
  width: 160px;
  height: 148px;
  border-radius: 12px;
}
.feed__item-about {
  margin: auto 0;
  width: 100%;
}
.feed__item-name {
  display: flex;
  margin-bottom: 9px;
  font-family: "Poppins Medium", sans-serif;
  font-size: 16px;
  line-height: 24px;
  word-break: break-all;
}
.feed__item-info {
  display: flex;
  margin-bottom: 17px;
  justify-content: space-between;
  align-items: center;
}
.feed__item-profile {
  width: 24px;
  height: 24px;
}
.feed__item-stock {
  color: rgb(119, 126, 144);
  font-family: "Poppins Medium", sans-serif;
  font-size: 14px;
  line-height: 24px;
}
.feed__item-button {
  padding: 8px 12px;
  font-size: 14px;
  line-height: 16px;
}
.feed__column-3 {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  border-left: 1px solid rgb(230, 232, 236);
}
.feed__column-3-title {
  color: rgb(119, 126, 144);
  font-family: "Poppins Semibold", sans-serif;
  font-size: 12px;
  line-height: 20px;
}
.feed__column-3-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: auto;
  font-size: 14px;
}
.feed__creator {
  padding: 24px 0;
  display: flex;
}
.feed__creator:not(:last-child) {
  border-bottom: 1px solid rgb(230, 232, 236);
}
.feed__creator-profile {
  margin-right: 15px;
  width: 56px;
  height: 56px;
}
.feed__creator-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.feed__creator-name {
  font-family: "Poppins Medium", sans-serif;
  font-size: 14px;
  line-height: 24px;
}
.feed__creator-value {
  font-family: "Poppins Semibold", sans-serif;
  font-size: 12px;
  line-height: 20px;
}
.feed__creator-eth {
  text-transform: uppercase;
  color: rgb(119, 126, 144);
  font-family: "Poppins Regular", sans-serif;
}

@media (max-width: 1170px) {
  .feed__column-1 {
    flex: 1 1 50%;
  }
  .feed__column-1-img {
    height: 432px;
    width: 414px;
  }
  .feed__column-2 {
    flex: 1 1 50%;
  }
  .feed__column-3 {
    padding: 65px 0 0 0;
    flex: 1 1 50%;
    border: none;
  }
  .feed__column-3-button {
    display: none;
  }
  .feed__creators {
    display: flex;
    justify-content: space-between;
  }
  .feed__creator:nth-child(-n+4) {
    border-bottom: none;
  }
}
@media (max-width: 991px) {
  .feed__column-1-img {
    height: 446px;
    width: 321px;
  }
  .feed__column-1-title {
    font-size: 16px;
  }
  .feed__column-1-stock {
    font-size: 12px;
  }
  .feed__column-2 {
    display: none;
  }
  .feed__column-3 {
    max-width: 100%;
  }
  .feed__creators {
    overflow-x: auto;
  }
  .feed__creator {
    display: flex;
    padding: 16px;
  }
}
.enticement-wrap {
  display: flex;
  padding: 80px 0;
}
.enticement__info {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 15px;
}
.enticement__subtitle {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  color: rgb(119, 126, 144);
}
.enticement__title {
  font-family: "DM Sans", sans-serif;
  font-size: 60px;
  font-weight: 700;
}
.enticement__text {
  font-family: "Poppins Regular", sans-serif;
  color: rgb(119, 126, 144);
}
.enticement__buttons {
  display: flex;
  margin-top: 30px;
  gap: 15px;
}
.enticement__picture {
  height: 640px;
  width: 640px;
}

@media (max-width: 1170px) {
  .enticement__picture {
    height: 416px;
    width: 416px;
  }
}
@media (max-width: 991px) {
  .enticement-wrap {
    flex-direction: column;
    padding: 60px 0;
    text-align: center;
  }
  .enticement__line {
    display: none;
  }
  .enticement__subtitle {
    font-size: 12px;
  }
  .enticement__title {
    font-size: 48px;
  }
  .enticement__buttons {
    flex-direction: column;
  }
  .enticement__picture {
    margin-top: 40px;
    height: 311px;
    width: 311px;
  }
}
.footer-wrap {
  display: flex;
  padding: 80px 0;
  justify-content: space-between;
}
.footer__more-icon {
  display: none;
  transform: rotate(90deg);
}
.footer__column {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer__column-caption {
  font-family: "Poppins Medium", sans-serif;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  font-size: 16px;
}
.footer__column-link {
  font-family: "Poppins Regular", sans-serif;
  width: -moz-fit-content;
  width: fit-content;
  color: rgb(119, 126, 144);
  font-size: 14px;
}
.footer__column-text {
  font-family: "Poppins Regular", sans-serif;
  font-size: 14px;
}
.footer__column--last {
  max-width: 350px;
}
.footer__nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.footer__tagline {
  font-family: "Poppins Regular", sans-serif;
  font-size: 24px;
  text-transform: capitalize;
}

@media (max-width: 991px) {
  .footer-wrap {
    flex-direction: column;
    padding: 45px 0;
  }
  .footer__line {
    display: none;
  }
  .footer__more-icon {
    display: flex;
  }
  .footer__column {
    position: relative;
    padding: 30px 0;
  }
  .footer__column:not(:last-child):after {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    content: "";
    background: rgb(230, 232, 236);
  }
  .footer__column-caption {
    font-size: 12px;
    text-transform: uppercase;
  }
  .footer__tagline {
    font-size: 16px;
  }
  .footer__nav {
    gap: 24px;
  }
}/*# sourceMappingURL=style.css.map */