.container{
    position: relative;
    max-width: 1120px;
    margin: auto;
}

@media (max-width: 1170px){
    .container{
        max-width: 865px;
    }
}

@media (max-width: 991px){
    .container {
        max-width: 310px;
    }
}