.hero{
    padding-top: 125px;
    &-wrap{
        display: block;
        text-align: center;
    }
    &__text{
        margin-bottom: 5px;
        color: $text-color-light;
        text-transform: uppercase;
        @include bold;
        font-size: 12px;
        line-height: 12px;
    }
    &__title{
        margin-bottom: 20px;
        @include dmsans;
        font-size: 40px;
        line-height: 48px;
    }
    &__button{
        margin-top: auto;
    }
}
    
@media (max-width: 1170px){
    .hero{
        padding-top: 112px;
    }
}

@media (max-width: 991px){
    .hero{
        padding-top:  64px;
        &__title{
            font-size: 32px;
            line-height: 40px;
        }
    }
    
}